.gen-ed-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  margin-right: 25px;
}

.course-box {
  display: flex;
  flex-wrap: wrap;
}

.course-button {
  border: none;
  background-color: rgb(143, 101, 5);
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.course-button:hover {
  background-color: #fbb03b;
}

#main {
  background-color: rgb(40, 35, 35);
  color: white;
}

.mycourse-button {
  display: block;
  border: none;
  background-color: rgb(146, 19, 36);
  /*59116b*/
  color: rgb(255, 255, 255);
  margin: 10px;
  margin-right: 40px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.remove-button {
  display: block;
  margin-top: 10px;
}



.bottomsection {
  display: flex;
}

.left,
.right {
  display: inline-block;
  width: 50%;
}

.rahulsanape {
  background-color: #e21834;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.rahulsanape:hover {
  background-color: #c91530;
}

.rahulsanape:active {
  background-color: #a91229;
}

#section-1 {
  background-color: #e21834;
}

.left {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.right {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  gap: 5px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  height: 350px;
}

.blue {
  background-color: rgb(28, 28, 108);
}

.yellow {
  background-color: #e21834;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.white {
  background-color: rgb(32, 27, 27);
  height: 30px;
  display: flex;
  justify-content: center; /* centers content horizontally */
  align-items: center; /* centers content vertically */
}


.credits {
  font-size: 20px;
  
}

.completed {
  font-size: 20px;
}

.page-header {
  position: relative;
  height: 300px; /* Change this to your desired height */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; /* Change this to adjust the opacity of the image */
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Change this to adjust the color of the title */
  font-size: 36px; /* Change this to adjust the font size of the title */
  font-weight: bold; /* Change this to adjust the font weight of the title */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Change this to adjust the shadow of the title */
}
.remove-button {
  background-color: #262424;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #ff6659;
}

hr {
  border: none;
  height: 2px;
  background-color: red;
}